state-style(state, operator="=")
  [state-var{operator}{state}]
    {block}
    content state
    > td
      {block}
      > input
        {block}

/*
.prueba-despliegue
  background-color #EEE 

+state-style("","")
  border 1px solid blue
*/

background-for-ok()
  /* background-color #DFD */
  background-color #F8F8F8

+state-style("actual")
  background-color #FFF

+state-style("todavia_no")
  color #777

+state-style("valida")
  background-for-ok()

+state-style("optativa_sd")
  background-for-ok()

+state-style("omitida")
  background-color #FDC

+state-style("fuera_de_flujo_por_omitida")
  background-color #ECB
  color #666

+state-style("salteada")
  background-color #CCC
  color #555

+state-style("fuera_de_flujo_por_salto")
  background-color #CCC
  input[type="number"]
    color red
  input[type="text"]
    color red
  input[type="number"]
    color red
  input[type="tel"]
    color red
  [state-label-option="checked"]
    color red
    border-color red
  
/*
.tipoc_OM > .casillero
  visibility hidden

.tipoc_O > .casillero
  visibility hidden
*/

.tipoc_CONS
  display none
  border 1px solid black
  background-color #FF8
  font-weight bold
  font-size 80%
  > .propios > .nombre
    padding-left 4px
  > .propios > .casillero
    background-color black
    color #F80
    padding-left 4px
    padding-right 4px

[status-consistencia="inconsistente"]
  display inherit
