.rel_button
  display list-item
  padding 5px
  min-width 250px
  margin 3px
  background-color #dbdbdb
  font-size 16px

.rel_button:hover
  background-color #f5f5f5
  cursor pointer

#tomarGPS, #tomarGPSTitle
  float right
  clear both
  p
    font-size 80%

#tomarGPSButton
  padding 5px
  min-width 250px
  margin 3px
  background-color #dbdbdb
  font-size 16px
  
#tomarGPSButton:hover
  background-color #f5f5f5
  cursor pointer
  
#nuevoRelevamiento
  font-weight bold

@media screen and (min-width:1025px)
  button#nuevoRelevamiento
    display none

  div.validationMessage p#falta-token
    display none
  
h3
  border 1px solid #000
  background-color #d1d1d1
  font-size 24px
  font-weight bold
  padding 3px
  min-width 800px
  text-align center
  
.linkAlFinal
  font bold 16px Arial
  float right
  color #313131
  margin 8px
  margin-right 10px
  text-decoration none
  background-color #dbdbdb
  padding 6px 10px 6px 10px
  border-top 1px solid #CCCCCC
  border-right 1px solid #333333
  border-bottom 1px solid #333333
  border-left 1px solid #CCCCCC
  
.linkAlFinal:hover
  background-color #ededed
  
  
#falta-token
  background-color yellow
  font-size 150%

.menu-item
  font-size 120%